<div *ngIf="info">
  <h2>{{info.name}}</h2>
  <div>
    <h3>Population</h3>
    <div class="info-container">
      <div *ngFor="let item of info.population | keyvalue: noOrder">
        <app-resource-img [resource]="item.key" [value]="item.value" [decimal]="false"></app-resource-img>
      </div>
    </div>
  </div>
  <div>
    <h3>Needs</h3>
    <div class="info-container">
      <div *ngFor="let item of info.needs | keyvalue: noOrder" (click)="setDisplayProductionChain(item.key)">
        <app-resource-img [resource]="item.key" [value]="item.value" [decimal]="true"></app-resource-img>
      </div>
    </div>
  </div>
  <div *ngIf="selectedProductionChain">
    <app-production-chain [input]="selectedProductionChain"></app-production-chain>
  </div>
</div>
