<div *ngIf="info" class="container">
  <h2>{{info.id}}</h2>
  <div class="group">
    <h3>Population</h3>
    <div class="info-container">
      <div *ngFor="let item of info.population | keyvalue: noOrder">
        <app-resource-img [resource]="item.key" [value]="item.value" [decimal]="false"></app-resource-img>
      </div>
    </div>
  </div>
  <div class="group">
    <h3>Needs</h3>
    <div class="info-container">
      <div *ngFor="let item of info.needs | keyvalue: noOrder" (click)="setDisplayProductionChain(item.key)">
        <app-resource-img [resource]="item.key" [value]="item.value" [decimal]="true"></app-resource-img>
      </div>
    </div>
  </div>
  <div *ngIf="selectedProductionChain" class="group">
    <h4>Production Chain</h4>
    <div>
      <app-production-chain [input]="selectedProductionChain"></app-production-chain>
      <app-layout [resource]="selectedProductionChain.resource"></app-layout>
    </div>
  </div>
</div>
